.container {
    width: 450px;
    background-color: #FF0000;
    border: 2px solid #FF0000;
    padding: 40px;
    border-radius: 10px;
}

.container h1 {
    text-align: center;
    font-size: 30px;
    color: white;
}

.container .input-field {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 30px auto;
}

.input-field input {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 3px;
}

.input-field input::placeholder {
    color: rgb(58, 58, 58);
}

.container .recall-forget {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: 15px 0px 10px;
}

.recall-forget label {
    color: white;
}

.recall-forget input {
    margin-right: 5px;
}

.recall-forget a,
.signup-link a {
    color: white;
}

.container button {
    width: 80%;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin: 20px auto 0;
}

.container .signup-link {
    font-size: 15px;
    text-align: center;
    margin: 15px 0 0px;
}