.container {
    width: 450px;
    background-color: #FF0000;
    border: 2px solid #FF0000;
    padding: 40px;
    border-radius: 10px;
}

.container h1 {
    text-align: center;
    font-size: 30px;
    color: white;
}

.container .input-username,
.container .input-email,
.container .input-password {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 8px;
    align-items: center;
    margin: 12px 0;
}

.input-username .icon,
.input-email .icon,
.input-password .icon {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: start;
    font-size: 18px;
    pointer-events: none;
}

.input-username input,
.input-email input,
.input-password input {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 38px;
    padding-left: 8px;
    box-sizing: border-box;
}

.input-username .error,
.input-email .error,
.input-password .error,
.terms .error {
    grid-column: 1 / -1;
    grid-row: 2;
    margin-top: 6px;
    font-size: 12px;
}

.input-field input::placeholder {
    color: rgb(58, 58, 58);
}

input[type=password]:not(:placeholder-shown) {
    font-size: 10px;
}

.container .recall-forget {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: 15px 0px 10px;
}

.terms label,
.show-password label {
    color: white;
}

.terms input,
.show-password input {
    margin-right: 5px;
}

.recall-forget a,
.signin-link a,
.terms a {
    color: white;
}

.container button {
    width: 80%;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin: 20px auto 0;
}

.container .signin-link {
    font-size: 15px;
    text-align: center;
    margin: 15px 0 0px;
}
